.mainContent {

    margin-top: 5%;

}

.userData {
    width: 220px;
    margin-right: 9px;
    margin-bottom: 10px;

}

.submitButton{

    margin: 50px;
    margin-bottom: 26px !important;

}

.results{

        margin-top: 10px;


}


.linkIcon{
    color: black;
}


